*{
  margin: 0;
  padding: 0;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: #231F20;
  padding: auto;
}

main header{
  justify-content: space-between;
  display: flex;
  margin: 1rem;
}

main header a{
  text-decoration: none;
  color: #EFE6DD;
}

main header nav{
  width: fit-content;
  
}

main header nav .nav-list{
  display: flex;
  justify-content: end;
  
}

main header nav .nav-list a{
  text-decoration: none;
  color: #EFE6DD;
}

main header nav .nav-list .nav-points{
  padding: 1rem;
  list-style: none;
}

main header .logo{
  padding: 2rem;
  width: 1050px;

}

main .main_panel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
}

main .main_panel .panel_desc{
  justify-items: center;
  color: #EFE6DD;
  margin: 4rem;
  font-size: 120%;
}

main .main_panel .panel_desc h3{
  margin-bottom: 2rem;
}

main .main_panel img{
  margin: 2rem;
  scale: 120%;
  border-radius: 6rem;
  border-style: solid;
  border-color: #EFE6DD;
}

main .main_panel .panel_desc .butts{
  width: 10rem;
  height: 4rem;
  color: #EFE6DD;
  background-color: #879DFF;
  margin-left: 1rem;
  margin-right: 1rem;
  border-style: none;
  border-radius: 2rem;
}

main .main_panel .panel_desc .butts:hover{
  cursor: pointer;
  background-color: #FF903B;
  color: #231F20;
  transition: 0.5s;
}